<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Device details</title>
    <!--css-->
    <link href="css/app-less.css" rel="stylesheet">
    <link href="css/app-sass.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="script-src * 'unsafe-eval'; connect-src * 'unsafe-eval'; object-src 'self'; style-src * 'unsafe-inline'; img-src *">
  </head>
  <body>
    <!--head menu-->
    <nav class="top-nav">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline list-unstyled" id="head-menui">
                  <li><a href="who-we-are.html">Who we are </a></li>
                  <li><a href="the-group.html">The group</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--main menu--><br>
    <nav class="navbar top-middle-nav">
      <div class="container">
        <div class="navbar-header"><a class="navbar-brand" href="index.html"><img src="img/static/app-logo.jpeg" alt="Verizon"></a></div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
                <li class="selected"><a href="devices.html">Devices</a></li>
                <li><a href="services.html">Smart life services</a></li>
                <li><a href="assistance.html">Assistance</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--location menu-->
    <nav class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline app-breadcrumb">
            <li class="app-breadcrumb__item" v-for="(index,location) in locations"><a class="app-breadcrumb__text" v-bind:href="location.url" v-if:="location.name === 'HOME'"><i class="material-icons app-breadcrumb__separator">home</i></a><a class="app-breadcrumb__text" v-bind:href="location.url" v-if:="location.name !== 'HOME'">{{location.name}}</a><i class="material-icons app-breadcrumb__separator" v-show="index !== locations.length - 1">chevron_right</i></li>
          </ul>
        </div>
      </div>
    </nav><br><br>
    <device inline-template v-bind:locations.sync="locations">
      <div class="error">{{ error }}</div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-right"><img class="app-device__head__img" v-bind:src="parsedData.img[0]"></div>
          <div class="col-md-6">
            <h4 class="app-device__head__title">{{parsedData.brand}}</h4>
            <h3 class="app-device__head__title">{{parsedData.name}}</h3>
            <p class="app-device__head__desc">{{parsedData.short_description}}</p>
            <h3 class="app-device__head__price">{{parsedData.price}} &euro;</h3><br>
            <div class="app-device__head__services">
              <h3 class="app-device__head__services__headline">Associated services</h3>
              <ul class="list-unstyled">
                <li><a class="app-device__head__services__link" href="/dfdf">Verizon next<i class="material-icons">chevron_right</i></a></li>
              </ul>
            </div><br>
            <div>
              <button class="app-device__head__btn">BUY</button>
            </div>
          </div>
        </div><br><br>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-unstyled list-inline app-device__content-nav">
              <li class="selected">Presentation</li>
              <li>Specifications</li>
              <li>Assistance</li>
            </ul>
          </div>
        </div><br><br>
        <div class="row" id="presentation">
          <div class="col-md-12 app-device__content">
            <div class="row app-device__content__section" v-for="(index,section) in presentationSections">
              <div class="col-md-6 text-center"><img class="app-device__content__section__img" v-bind:src="section.image"></div>
              <div class="col-md-6">
                <h2 class="app-device__content__section__title">{{section.title}}</h2>
                <p class="app-device__content__section__text">{{section.content}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="specs">
          <div class="col-md-12">
            <h2 class="app-device__content__specs__heading"> Specifications</h2>
            <table class="table app-device__content__specs__table">
              <thead></thead>
              <tbody>
                <tr v-for="spec in specs">
                  <td>{{spec.title}}</td>
                  <td>{{spec.content}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </device>
    <!-- javascript--><br><br>
    <script src="js/app.js"></script>
  </body>
</html>